In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv(r"C:/Users/HP/Desktop/Data Scientist/project/singapore resale flat price prediction/REF_19901999.csv")

In [4]:
df2 = pd.read_csv(r"C:/Users/HP/Desktop/Data Scientist/project/singapore resale flat price prediction/RFP_2000Feb2012.csv")

In [5]:
df3 = pd.read_csv(r"C:/Users/HP/Desktop/Data Scientist/project/singapore resale flat price prediction/REF_Mar2012toDec2014.csv")

In [6]:
df4 = pd.read_csv(r"C:/Users/HP/Desktop/Data Scientist/project/singapore resale flat price prediction/REF_Jan2015toDec2016.csv")

In [7]:
df5 = pd.read_csv(r"C:/Users/HP/Desktop/Data Scientist/project/singapore resale flat price prediction/REF_Jan2017onwards.csv")

In [8]:
df = pd.concat([df1,df2,df3,df4,df5],axis=0)

In [9]:
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
182350,2024-06,YISHUN,EXECUTIVE,328,YISHUN RING RD,04 TO 06,142.0,Apartment,1988,850000.0,63 years 01 month
182351,2024-06,YISHUN,EXECUTIVE,723,YISHUN ST 71,10 TO 12,146.0,Maisonette,1986,790000.0,61 years
182352,2024-06,YISHUN,EXECUTIVE,826,YISHUN ST 81,10 TO 12,146.0,Maisonette,1988,1000000.0,62 years 08 months
182353,2024-06,YISHUN,EXECUTIVE,826,YISHUN ST 81,04 TO 06,146.0,Maisonette,1988,1000000.0,62 years 08 months
182354,2024-06,YISHUN,MULTI-GENERATION,633,YISHUN ST 61,07 TO 09,171.0,Multi Generation,1987,1028000.0,62 years 07 months

In [10]:
# Identify unique val in each col

for i in df.columns:
    print(i,":",df[i].nunique())

month : 414
town : 27
flat_type : 8
block : 2712
street_name : 584
storey_range : 25
floor_area_sqm : 212
flat_model : 34
lease_commence_date : 55
resale_price : 9537
remaining_lease : 726

In [11]:
df.isna().sum()

month                       0
town                        0
flat_type                   0
block                       0
street_name                 0
storey_range                0
floor_area_sqm              0
flat_model                  0
lease_commence_date         0
resale_price                0
remaining_lease        709050
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 928558 entries, 0 to 182354
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                928558 non-null  object
 1   town                 928558 non-null  object
 2   flat_type            928558 non-null  object
 3   block                928558 non-null  object
 4   street_name          928558 non-null  object
 5   storey_range         928558 non-null  object
 6   floor_area_sqm       928558 non-null  float64
 7   flat_model           928558 non-null  object
 8   lease_commence_date  928558 non-null  int64
 9   resale_price         928558 non-null  float64
 10  remaining_lease      219508 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 85.0+ MB

In [14]:
df["month"]=pd.to_datetime(df["month"],format="%m%Y",errors="coerce").dt.date
df["block"]=pd.to_numeric(df["block"],errors="coerce")
df["lease_commence_date"]=pd.to_datetime(df["lease_commence_date"],format="%Y",errors="coerce").dt.date

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 928558 entries, 0 to 182354
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                0 non-null       datetime64[ns]
 1   town                 928558 non-null  object
 2   flat_type            928558 non-null  object
 3   block                803507 non-null  float64
 4   street_name          928558 non-null  object
 5   storey_range         928558 non-null  object
 6   floor_area_sqm       928558 non-null  float64
 7   flat_model           928558 non-null  object
 8   lease_commence_date  928558 non-null  object
 9   resale_price         928558 non-null  float64
 10  remaining_lease      219508 non-null  object
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 85.0+ MB